html, body {
  overflow-x: hidden;
  overflow-y: hidden; 
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  background-image: url("Photos/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -2;
}

h1.title {
  color: yellow;
  font-weight:bold;
}
h4.title {
  color: yellow;
}

h1, h2, h3, h4, h5 {
  color: white;
  text-align: center;
}

h7 {
  color: white;
  text-align: justify;
}

p {
  color: white;
  font-family: verdana;
  font-size: 12px;
}

footer {
  text-align: center;
  padding: 3px;
  width:100%;
  position: fixed;
  bottom: 0px;
}

img {
  float: center; 
  height: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 10px;
}

img.Martin {
  float:right; 
  margin-right:2%; 
  margin-top:2%; 
  width:14%; 
  height:auto; 
  border:none;"
}

img.btc {
  height: 100px;
  padding: 10px;
}

figcaption {
  color: yellow;
  font-style: italic;
  padding: 2px;
  text-align: center;
}


div.scroll {
  height: 65%;
  left:15%; 
  right:15%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  padding: 10px;
  -webkit-overflow-scrolling: touch; 
}

div.titlebar {
  style="position:relative; 
  text-align: center;"
}


 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 30%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: lightblue;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: blue;
  color: white;
}


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  
  div.scroll {
  height: 60%;
  left:1px; 
  right:10px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  -webkit-overflow-scrolling: touch; 
  }
  
  h1.title {
  color: yellow;
  font-weight:bold;
  font-size: 30px;
  }
  h4.title {
    color: yellow;
    font-size: 20px;
  }
  a {
    font-size: 18px;
  }
  h1, h2, h3, h4, h5 {
    font-size: 20px;
  }

  h7 {
    font-size: 20px;
  }
  
  img.Martin {
  float:right; 
  margin-right:2%; 
  margin-top:0%; 
  width:25%; 
  height:auto; 
  border:none;"
  }
  
  img.btc {
  width:40%; 
  height:auto; 
  }
  
  div.titlebar {
    style="position:relative; 
    text-align: left;"
  }
}

 /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color: yellow;
  color: blue;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: 50%;
  margin-right: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: Yellow transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 
